<!-- empty div for spacing -->
<div class="tenth_width float_left full_view_height"></div>
<!-- empty div for spacing -->

<div class="four_fifth_width float_left" id="login_welcome">
  <h1>Photo Fit</h1>
  <span>by</span><img id="login_logo" src="/assets/air_tailor_logo.png">
  <h3>Welcome, you can log in securely below.</h3>

  <%= form_tag '/login' do %>
    <%= text_field_tag :email, nil, placeholder: 'Email', :class => "login_form_field" %>

    <%= password_field_tag :password, nil, placeholder: 'Password', :class => "login_form_field" %>
    <%= submit_tag "Log In", :class => "button", :id => "login_button" %>
  <% end %>
  <p class="clear_float">New? <%= link_to "Create an account", new_user_path %></p>
</div>


<!-- empty div for spacing -->
<div class="tenth_width float_left full_view_height"></div>
<!-- empty div for spacing -->
