<%= form_for @garment, url: {action: "update"} do |f| %>
  <label>User Id</label>
  <%= f.text_field :user_id, :value => @user.id %><br><br>
  <label>Garment Title</label>
  <%= f.text_field :title %><br><br>
  <label>Garment Brand</label>
  <%= f.text_field :brand %><br><br>
  <label>Garment Image</label>
  <%= f.file_field :image_url %><br><br>
  <label>Garment Notes</label>
  <%= f.text_area :notes %><br><br>
  <%= f.submit "Update", data: { confirm: "You sure?" } %>
<% end %>
