<!-- empty div for spacing -->
<div class="fifth_width float_left full_view_height"></div>
<!-- empty div for spacing -->


<div class="three_fifth_width float_left">
    <h2 id="new_garment_title">Add New Garment</h2>
    <%= form_for @garment, url: {action: "create"} do |f| %>
        <div id="new_garment_form_part_one">
          <%= f.text_field :user_id, :value => @user.id, :type => 'hidden' %>

          <%= f.text_field :needs_measurements, :value => true, :type => 'hidden' %>

          <label>Title <span class="form_field_required">(required)</span></label>
          <%= f.text_field :title, :placeholder => "eg. Light blue slimfit jeans" %>

          <label>Brand</label>
          <%= f.text_field :brand, :placeholder => "eg. Levi's" %>

          <label>Garment Notes</label>
          <%= f.text_area :notes, :placeholder => "eg. Really stretchy denim" %>
        </div>

        <div class="hidden" id="new_garment_form_part_two">
          <p>Submit a photo of pants lying flat on the floor by an  8.5" x 11" piece of paper, like the example below.</p>


          <img id="new_garment_sample_image" src="/assets/example_jeans.jpg">
          <label for="files" class="button">Select Image (required)</label>
          <span class="hidden"><%= f.file_field :image_url, :id => "files" %></span>


          <%= f.submit "Done", :class => "button", :id => "submit_new_order" %>
        </div>

    <% end %>
        <button id="garment_add_image">Next</button>
</div>





<!-- empty div for spacing -->
<div class="fifth_width float_left full_view_height"></div>
<!-- empty div for spacing -->




