<header>
  <div id="app-title" class="caps">
    <h1>PhotoFit</h1>
    <span>By <img src="/assets/logo.png" alt=""></span>
  </div>
  <h2>Add New Garment</h2>

</header><!-- /header -->

<div class="user-form">
  <%= form_for([@user,@garment]) do |f| %>


      <div id="new_garment_form_part_one">

        <%= f.text_field :user_id, :value => @user.id, :class => "hidden" %>

        <label>Title <span class="required">(required)</span></label>
        <%= f.text_field :title, :placeholder => "eg Light blue slimfit jeans", :class=> "user-form-field" %>

        <label>Brand</label>
        <%= f.text_field :brand, :placeholder => "eg Levi's", :class=> "user-form-field" %>

        <label>Garment Notes</label>
        <%= f.text_area :notes, :placeholder => "eg. Really stretchy denim", :autocomplete => "email-name", :class=> "user-form-field" %>

        <div id="new-garment-next" class="button">Next</div>
      </div>

      <div class="hidden" id="new_garment_form_part_two">

        <div id="new-garment-image">
          <label>Directions:</label>

          <p>Lie garment flat on the ground next to an 8.5" x 11" piece of paper.</p>

          <%= f.file_field :image, multiple: false, direct_upload: true %>
        </div>


        <%= f.submit "Create", :id => "new-garment-create", :class => "button" %>
      </div>
<br>
  <% end %>
    <div id="new-garment-back">
      <%= link_to "< back", user_path(@user) %>
    </div>
    <div id="new-garment-back-two" class="hidden">
      <%= link_to "< back", new_user_garment_path(@user) %>
    </div>

</div>


