<header>
  <div id="app-title" class="caps">
    <h1>Fit Shop</h1>
    <span>By <img src="/assets/logo.png" alt=""></span>
  </div>
  <h2>Men's Jeans</h2>
  <button>Find My Fit</button>
  <hr>
</header><!-- /header -->



<div id="jeans-list">
  <div id="jeans-0" class="jeans-div" data="0">
    <h3>Casual Fit</h3>
    <img src="/assets/jeans_1" alt="jeans-0-pic" id="jeans-0-pic" class="jeans-pic">
    <button class="button check-fit-button"  data="0">Check Fit</button>
    <br><br><br><br>
    <hr class="shop-hr">
  </div>

  <div id="jeans-1" class="jeans-div" data="1">
    <h3>Rugged</h3>
    <img src="/assets/jeans_2" alt="jeans-1-pic" id="jeans-1-pic" class="jeans-pic">
    <button class="button check-fit-button"  data="1">Check Fit</button>
    <br><br><br><br>
    <hr class="shop-hr">
  </div>

  <div id="jeans-2" class="jeans-div" data="2">
    <h3>Boot Cut</h3>
    <img src="/assets/jeans_3" alt="jeans-2-pic" id="jeans-2-pic" class="jeans-pic">
    <button class="button check-fit-button"  data="2">Check Fit</button>
    <br><br><br><br>
    <hr class="shop-hr">
  </div>

  <div id="jeans-3" class="jeans-div" data="3">
    <h3>Slim Fit</h3>
    <img src="/assets/jeans_4" alt="jeans-3-pic" id="jeans-3-pic" class="jeans-pic">
    <button class="button check-fit-button"  data="3">Check Fit</button>
    <br><br><br><br>
    <hr class="shop-hr">
  </div>

  <div id="jeans-4" class="jeans-div" data="4">
    <h3>Dad Jeans</h3>
    <img src="/assets/jeans_5" alt="jeans-4-pic" id="jeans-4-pic" class="jeans-pic">
    <button class="button check-fit-button"  data="4">Check Fit</button>
    <br><br><br><br>
    <hr class="shop-hr">
  </div>

  <div id="jeans-5" class="jeans-div" data="5">
    <h3>Skinny</h3>
    <img src="/assets/jeans_6" alt="jeans-5-pic" id="jeans-5-pic" class="jeans-pic">
    <button class="button check-fit-button"  data="5">Check Fit</button>
  </div>
</div>

<!-- check fit popup section -->

<div id="check-fit-popup" class="hidden">
  <span id="check-fit-exit" class="clickable">X</span>
  <div id="check-fit-headers">
    <h3>Ideal Fit</h3>
    <h3>Garment Fit</h3>
  </div>
  <div id="user-measurement-labels" class="column-4 float-left">
    <p>Hips</p>
    <p>Inseam</p>
    <p>Outseam</p>
    <p>Thigh</p>
    <p>Knee</p>
    <p>Calf</p>
    <p>Ankle</p>
  </div>
  <div id="user-measurements" class="column-4 float-left">
      <p><span><%= @measurement.hips.round(2) %></span> in</p>
      <p><span><%= @measurement.inseam.round(2) %></span> in</p>
      <p><span><%= @measurement.outseam.round(2) %></span> in</p>
      <p><span><%= @measurement.thigh.round(2) %></span> in</p>
      <p><span><%= @measurement.knee.round(2) %></span> in</p>
      <p><span><%= @measurement.calf.round(2) %></span> in</p>
      <p><span><%= @measurement.ankle.round(2) %></span> in</p>
  </div>
  <div id="purchase-measurement-labels" class="column-4 float-left">
    <p>Hips</p>
    <p>Inseam</p>
    <p>Outseam</p>
    <p>Thigh</p>
    <p>Knee</p>
    <p>Calf</p>
    <p>Ankle</p>
  </div>

<% @purchase.each_with_index do |purchase, index| %>
  <div class="purchase-measurements column-4 float-left hidden" data="<%= index %>">
    <p><span><%= purchase.measurements.first.hips.round(2) %></span> in</p>
    <p><span><%= purchase.measurements.first.inseam.round(2) %></span> in</p>
    <p><span><%= purchase.measurements.first.outseam.round(2) %></span> in</p>
    <p><span><%= purchase.measurements.first.thigh.round(2) %></span> in</p>
    <p><span><%= purchase.measurements.first.knee.round(2) %></span> in</p>
    <p><span><%= purchase.measurements.first.calf.round(2) %></span> in</p>
    <p><span><%= purchase.measurements.first.ankle.round(2) %></span> in</p>
  </div>
<% end %>

  <br class="clear-float">
  <br>
  <hr>
  <br>
  <h3>Match Percentage</h3>
  <h1 id="match-percentage"></h1>
  <h3>Suggested Alterations</h3>
  <div id="suggested-alterations">

  </div>

</div>





