<!-- empty div for spacing -->
<div class="tenth_width float_left full_view_height "></div>
<!-- empty div for spacing -->


<div class="four_fifth_width float_left">
  <h2>Garment Info:</h2>
  <div class="float_left half_width">
    <p><%= @garment.title %></p>
    <p><%= @garment.brand %></p>
    <p><%= @garment.notes %></p>
  </div>
  <div class="float_left half_width">
    <img src="<%= @garment.image_url %>">
  </div>

  <%= link_to "Edit", edit_user_garment_path(@user), :class => "button clear_float" %>



  <h2>Measurements</h2>
  <% if @measurement.blank? %>
    No measurements. <%= link_to "Add Measurements", new_user_garment_measurement_path(@user,@garment), :class => "button" %>
  <% else %>
    <p><span>Hips:</span> <%= @measurement.hips %> inches</p>
    <p><span>Outseam:</span> <%= @measurement.outseam %> inches</p>
    <p><span>Thigh:</span> <%= @measurement.thigh %> inches</p>
    <p><span>Knee:</span> <%= @measurement.knee %> inches</p>
    <p><span>Calf:</span> <%= @measurement.calf %> inches</p>
    <p><span>Ankle:</span> <%= @measurement.ankle %> inches</p>
    <p><span>Inseam:</span> <%= @measurement.inseam %> inches</p>
    <%= link_to "Edit Measurements", edit_user_garment_measurement_path(@user,@garment), :class => "button" %>
  <% end %>

  <br><br>
  <%= link_to "Delete Garment", [@user, @garment], method: :delete,
                                    data: { confirm: "Are you sure?" } %>
</div>

<!-- empty div for spacing -->
<div class="tenth_width float_left full_view_height"></div>
<!-- empty div for spacing -->
