<!-- empty div for spacing -->
<div class="fifth_width float_left full_view_height"></div>
<!-- empty div for spacing -->


<div class="three_fifth_width float_left">
  <h1>Welcome, <%= @user.first_name %>!</h1>

  <h3>You have the following garments on file:</h3>
  <div>
    <% @garments.each do |garment| %>
      <a class="garment" href="/users/<%= @user.id %>/garments/<%= garment.id %>"><p><%= garment.title %></p></a>
    <% end %>
  </div>

  <%= link_to "Add New Garment", new_user_garment_path(@user), :class => "button" %>
</div>


<!-- empty div for spacing -->
<div class="fifth_width float_left full_view_height"></div>
<!-- empty div for spacing -->

