<!DOCTYPE html>
<html>
  <head>
    <title>PhotoFit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>

      <div class="float_right" id="top_nav_bar">
          <a href="/users/<%= current_user.id %>">Profile</a>
          <a href="/users/<%= current_user.id %>/edit">Account</a>
          <% if current_user.is_admin? %>
            <%= link_to 'User List', users_path %>
            <a href="/admin">Admin Page</a>
          <% end %>
          <a href="/logout">Logout</a>
          <br>
      </div>
      <hr class="clear_float" id="nav_hr">
      <% else %>
      <!-- do nothing -->
      <% end %>



    <br>

    <%= yield %>

  </body>
</html>
