<!DOCTYPE html>
<html>
  <head>
    <title>PhotoFit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- adjusts app to look correct on most devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

  </head>



  <body>

    <div id="overlay"></div>
    <div id="how-to-popup" class="hidden">
      <span id="how-to-exit" class="clickable">X</span>
      <p><b>Directions:</b> Lie garment flat on the ground next to an 8.5" x 11" piece of paper.</p>
      <img src="/assets/example_jeans.jpg" alt="">
    </div>
    <% if flash[:success] %>
      <div id="flash-success" class="flash-notice"><%= flash[:success] %></div>
    <% elsif flash[:fail] %>
      <div id="flash-fail" class="flash-notice"><%= flash[:fail] %></div>
    <% end %>

    <% if controller_name == "measurements" && action_name == "new" %>
      <div id="wide-container">
    <% else %>
      <div id="container">
    <% end %>


      <div id="top-nav">
        <% if current_user %>
          <% if controller_name == "users" && action_name == "show" %>
            <a id="profile-button" href="/users/<%= current_user.id.to_s %>/edit">Edit Account</a>
          <% else %>
            <a id="profile-button" href="/users/<%= current_user.id.to_s %>">Profile</a>
          <% end %>
          <a id="logout-button" href="/logout">Log Out</a>
        <% end %>
      </div>


      <%= yield %>

      <footer>
        <p>&copy; 2018 Air Tailor Inc. All rights reserved.</p>
         <p><a href="https://www.airtailor.com/privacy" target="_blank">Privacy Policy</a> | <a href="/terms">Terms of Service</a>
          <% if current_user && current_user.is_admin? %> | <a href="/admin">Admin</a><% end %></p>
      </footer>

    </div>
  </body>
</html>
